<div class="navbar-tara">
  <!-- Logo -->
  <a href="/" class="navbar-tara-brand">
    <%= image_tag("logo.png")%>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-tara-right hidden-xs hidden-sm">

    <a name="home" href="#home" class="navbar-tara-item navbar-tara-link">Home</a>
    <a name="womenswear" href="#womenswear" class="navbar-tara-item navbar-tara-link">Womenswear</a>
    <a name ="illustrations" href="#illustrations" class="navbar-tara-item navbar-tara-link">Illustrations</a>
    <a name = "about" href="#about" class="navbar-tara-item navbar-tara-link">About</a>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-tara-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-tara-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>
