<div class="about-container">
  <span><h4>About Tara Miranne Bailey</h4></span>
  <div class="about-description">
    <p>At noon they sat down by the roadside, near a little brook, and Dorothy opened her basket and got out some bread.  She offered a piece to the Scarecrow, but he refused. Sint sit culpa aute exercitation id enim sunt dolore nisi eiusmod adipisicing mollit eu reprehenderit incididunt adipisicing commodo consectetur reprehenderit nostrud aliquip in ut eu adipisicing et in et velit voluptate excepteur sit et consequat nostrud qui sit deserunt sit do consequat irure veniam fugiat ad proident reprehenderit dolore quis veniam deserunt commodo in est dolore ut proident culpa laboris ut irure culpa amet cupidatat nulla dolore in ut do id commodo officia consectetur sit minim fugiat deserunt fugiat aliqua nulla in do ad aliquip proident eiusmod occaecat non incididunt dolor magna duis fugiat et sint in esse ut dolor reprehenderit veniam ut sunt qui mollit reprehenderit officia amet adipisicing pariatur nostrud dolore reprehenderit amet irure magna culpa aliqua irure proident reprehenderit est occaecat ut veniam ut excepteur culpa aute officia tempor est nostrud dolor esse dolor sed et proident deserunt proident qui cupidatat ut esse ut aliquip irure laboris culpa nostrud veniam duis.</p>
  </div>

  <h3>Latest Full-time Jobs</h3>
  <ul class="list-inline">
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <li>
        <a href="https://veroniavintage.com/" target="_blank">
          <div class="job-picture-card" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.shopify.com/s/files/1/2675/5136/files/180207-VeroniaVintage-Film-77540001_2048x2048.jpg?v=1518958589')">
            <h4>Veronia Vintage</h4>
          </div>
        </a>
        <div>
          <h5>Veronia Vintage, Sidney, Australia</h5>
          <p>Designer & Curator</p>
        </div>
      </li>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <li>
        <a href="https://aquablu.com.au/" target="_blank">
          <div class="job-picture-card" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.shopify.com/s/files/1/1961/6717/files/Infinity-September.jpg?v=1537412534')">
            <h4>Aqua Blu</h4>
          </div>
        </a>
          <h5>Aqua Blu, Sidney, Australia</h5>
          <p>Design Assistant</p>
      </li>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <li>
        <a href="https://fleurwood.com/" target="_blank">
          <div class="job-picture-card" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://static1.squarespace.com/static/5af0998c36099b8376ed442e/t/5b10897ef950b7d96773a651/1527810437777/FleurWood_Summer_lookbook-4.jpg?format=750w')">
          <h4>Fleur Wood</h4>
          </div>
        </a>
          <h5>Fleur Wood, Sidney, Australia</h5>
          <p>Design Assistant</p>
      </li>
    </div>
  </ul>

</div>
