  <div class="banner-content">
    <div><h3>Design &nbsp; - &nbsp;Curation</h3></div>
    <div><h1>TARA MIRANNE BAILEY</h1></div>
    <div class="banner-buttons">
      <a name ="about" href="#about" class="btn-gray">About</a>
      <a name ="about" href="#about" class="btn-gray">Contact</a>
    </div>
  </div>
