<div class="banner" id="home" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://static.wixstatic.com/media/7aa3e3_0b67a33ca1db4307972c7205e5d10fd4~mv2_d_2048_1365_s_2.jpg/v1/fill/w_976,h_648,al_c,q_85,usm_0.66_1.00_0.01/7aa3e3_0b67a33ca1db4307972c7205e5d10fd4~mv2_d_2048_1365_s_2.webp'); height: 45vh;">
  <h2>Illustrations</h2>
</div>

<ul class="list-inline">
  <% (1..9).to_a.each do |number| %>
  <div class="col-xs-12 col-sm-6 col-lg-4">
    <li>
      <div class="illustration-card" style="background-image: url(<%= image_path "Illustration#{number}.png"%>)">
      </div>
    </li>
  </div>
  <% end %>
</ul>
