<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <% (1..9).to_a.each do |number| %>
        <div class="illustration-card">
          <div class="illustration-card-picture"
          style="background: url('https://images.unsplash.com/photo-1537691321166-d766dfd693d9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ee03913ae00f830eb1c0accd44bb2550&auto=format&fit=crop&w=668&q=80')"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
