<h3>Latest Full-time Jobs</h3>
  <ul class="list-inline">

    <!--     First Job Card -->
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <li>
        <a href="https://veroniavintage.com/" target="_blank">
          <div class="job-picture-card" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.shopify.com/s/files/1/2675/5136/files/180207-VeroniaVintage-Film-77540001_2048x2048.jpg?v=1518958589')">
            <h4>Veronia Vintage</h4>
            <div class="job-picture-content"><p>Officia aute officia consectetur officia voluptate ea in aute tempor duis proident fugiat proident pariatur aliqua elit minim deserunt sit elit occaecat ut ea ullamco est cillum esse sint. <br>Officia aute officia consectetur officia voluptate ea in aute tempor duis proident fugiat proident pariatur aliqua elit minim deserunt sit elit occaecat ut ea ullamco est cillum esse sint.</p></div>
          </div>
        </a>
        <div>
          <h5>Veronia Vintage, Sidney, Australia</h5>
          <p>Designer & Curator</p>
        </div>
      </li>
    </div>

    <!-- Second Job Card -->
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <li>
        <a href="https://aquablu.com.au/" target="_blank">
          <div class="job-picture-card" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.shopify.com/s/files/1/1961/6717/files/Infinity-September.jpg?v=1537412534')">
            <h4>Aqua Blu</h4>
            <div class="job-picture-content"><p>Officia aute officia consectetur officia voluptate ea in aute tempor duis proident fugiat proident pariatur aliqua elit minim deserunt sit elit occaecat ut ea ullamco est cillum esse sint. <br>Officia aute officia consectetur officia voluptate ea in aute tempor duis proident fugiat proident pariatur aliqua elit minim deserunt sit elit occaecat ut ea ullamco est cillum esse sint.</p></div>
          </div>
        </a>
          <h5>Aqua Blu, Sidney, Australia</h5>
          <p>Design Assistant</p>
      </li>
    </div>

    <!--     Third Job Card -->
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <li>
        <a href="https://fleurwood.com/" target="_blank">
          <div class="job-picture-card" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://static1.squarespace.com/static/5af0998c36099b8376ed442e/t/5b10897ef950b7d96773a651/1527810437777/FleurWood_Summer_lookbook-4.jpg?format=750w')">
            <h4>Fleur Wood</h4>
            <div class="job-picture-content"><p>Officia aute officia consectetur officia voluptate ea in aute tempor duis proident fugiat proident pariatur aliqua elit minim deserunt sit elit occaecat ut ea ullamco est cillum esse sint. <br>Officia aute officia consectetur officia voluptate ea in aute tempor duis proident fugiat proident pariatur aliqua elit minim deserunt sit elit occaecat ut ea ullamco est cillum esse sint.</p></div>
          </div>
        </a>
          <h5>Fleur Wood, Sidney, Australia</h5>
          <p>Design Assistant</p>
      </li>
    </div>
  </ul>
