
<div id="womenswear" class="text-center">
  <h2>Womenswear</h2>
  <p>National Graduate Showcase, Royal Exhibition Building Melbourne, March 19th 2017.</p>
  <%= render 'left_column' %>
  <%= render 'right_column' %>
</div>
