<div class="banner darken" id="home" style="background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('https://s3-ap-southeast-2.amazonaws.com/thenatives-fashionjournal-s3/wp-content/uploads/2017/02/25003159/ezgif-1-1183b24aeb.jpg');">
  <div class="banner-content">
    <div><h3>Design &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Curation</h3></div>
    <div><h1>TARA MIRANNE BAILEY</h1></div>
  </div>
</div>

<div class="homepage-mosaic">
  <%= render 'womenswear' %>
</div>

<div class="blank">
  Hello Invisible
</div>

<div id="illustrations">
  <div class="banner" id="home" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://static.wixstatic.com/media/7aa3e3_0b67a33ca1db4307972c7205e5d10fd4~mv2_d_2048_1365_s_2.jpg/v1/fill/w_976,h_648,al_c,q_85,usm_0.66_1.00_0.01/7aa3e3_0b67a33ca1db4307972c7205e5d10fd4~mv2_d_2048_1365_s_2.webp'); height: 40vh;">
    <h2>Illustrations</h2>
  </div>
  <%= render 'illustrations' %>
</div>

<div class="blank">
  Hello Invisible
</div>

<div id="about">
  <h4>About Tara Miranne Bailey</h4>
</div>

