<div class="banner" id="home" style="background-image: url('https://s3-ap-southeast-2.amazonaws.com/thenatives-fashionjournal-s3/wp-content/uploads/2017/02/25003159/ezgif-1-1183b24aeb.jpg');">
</div>

<div class="homepage-mosaic">
  <%= render 'womenswear' %>
</div>

<div class="blank">
  Hello
</div>
<div id="illustrations">
  <h2>Illustrations</h2>
  <%= render 'illustrations' %>
</div>

<div id="about">
  <h2>About</h2>
</div>
