<div class="banner" style="background-image: url('https://s3-ap-southeast-2.amazonaws.com/thenatives-fashionjournal-s3/wp-content/uploads/2017/02/25003159/ezgif-1-1183b24aeb.jpg');">
</div>

<div class="smooth-scroll">
  <div class="homepage-mosaic" id="womenswear">
  <%= render 'womenswear' %>
  <%= render 'left_column' %>
  <%= render 'right_column' %>
  </div>
</div>
