.banner {
  color: $light-gray;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: white;
    letter-spacing: 0.4em;
    opacity: 0.9;
    margin-bottom: 1em;
  }
  h3 {
    color: white;
    letter-spacing: 0.3em;
    opacity: 0.8;
  }
  h2 {
    color: $light-gray;
  }
}

.banner p {
  font-size: 30px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  margin-bottom: 40px;
}

.down-of-image {
  background-position: bottom;
}

.banner-content{
  display: flex;
  flex-direction: column;
}

.banner-buttons {
  margin-top: 0.5em;
}

.animate-reveal {
  opacity: 0;
  animation: reveal 3s 1 normal forwards;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
