.banner {
  color: $light-gray;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    color: $light-gray;
  }
}

.banner p {
  font-size: 30px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  margin-bottom: 40px;
}

.down-of-image {
  background-position: bottom;
}


.banner-content{
  display: flex;
  flex-direction: column;
}
