.btn-gray {
  margin: 15px;
  color: $dark-dark-gray !important;
  padding: 7px 45px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.4s;
  &:hover {
    transition: 0.4s;
    text-decoration: none;
    color: $dark-dark-gray;
    background-color: rgba(255, 255, 255, 1);
  }
}
