.illustration-card {
  height: 600px;
  background-size: cover;
  background-position: center !important;
  background-repeat: no-repeat;
  margin: 25px;
  border: 1px solid $light-gray;
  filter: grayscale(100%);
  transition: 1s;
  &:hover {
    transition: 1s;
    filter: grayscale(0%);
    transform: scale(1.03);
  }
}
